<div class="navbar">
  <div class="navbar__left">
    <div class="navbar__logo">
      <a href="/">
        <h1>Pro Academy</h1>
      </a>
    </div>
    <div class="navbar__categories">
      <a href="/courses/browse">
        <button class="dropbtn">Categories &nbsp;
          <i class="fa fa-caret-down"></i>
        </button>
      </a>

      <div class="dropdown-content">
        <a href="#">Web Development</a>
        <a href="#">Android Development</a>
        <a href="#">Machine Learning</a>
      </div>

    </div>

    <div class="navbar__searchBar">
      <i class="fa fa-search"></i>

      <input type="text" class="navbar__input" placeholder="Search for a course to start learning!" name="" id="">
    </div>


  </div>
  <div class="navbar__right">
    <a href="/users/register"> <button class="navbar__button">Register</button></a>

    <a href="/users/login"> <button class="navbar__button">Login</button></a>

  </div>
</div>
