<div class="browse">
  <app-navbar></app-navbar>
  <h1>Popular topics to learn now </h1>

  <div class="browse__categories">

    <div class="browse__category">
      <div class="browse__categoryLeft">
        <p class="browse__categoryPath">PATH</p>
        <h3 class="browse__categoryTitle">
          Angular
        </h3>
        <p>No of courses : 11</p>
        <a class="browse__categoryLink" href="category Detail">Take a look <i class="fa fa-arrow-right"></i>
        </a>
      </div>

      <div class="browse__categoryRight">
        <img class="browse__categoryImage" src="assets/js_logo.png" alt="">

      </div>

    </div>
    <div class="browse__category">
      <div class="browse__categoryLeft">
        <p class="browse__categoryPath">PATH</p>
        <h3 class="browse__categoryTitle">
          Angular
        </h3>
        <p>No of courses : 11</p>
        <a class="browse__categoryLink" href="category Detail">Take a look <i class="fa fa-arrow-right"></i>
        </a>
      </div>

      <div class="browse__categoryRight">
        <img class="browse__categoryImage" src="assets/js_logo.png" alt="">

      </div>

    </div>
    <div class="browse__category">
      <div class="browse__categoryLeft">
        <p class="browse__categoryPath">PATH</p>
        <h3 class="browse__categoryTitle">
          Angular
        </h3>
        <p>No of courses : 11</p>
        <a class="browse__categoryLink" href="category Detail">Take a look <i class="fa fa-arrow-right"></i>

        </a>
      </div>

      <div class="browse__categoryRight">
        <img class="browse__categoryImage" src="assets/js_logo.png" alt="">

      </div>

    </div>


    <div class="browse__category">
      <div class="browse__categoryLeft">
        <p class="browse__categoryPath">PATH</p>
        <h3 class="browse__categoryTitle">
          Angular
        </h3>
        <p>No of courses : 11</p>
        <a class="browse__categoryLink" href="category Detail">Take a look <i class="fa fa-arrow-right"></i>
        </a>
      </div>

      <div class="browse__categoryRight">
        <img class="browse__categoryImage" src="assets/js_logo.png" alt="">

      </div>

    </div>

  </div>
  <h1>Search </h1>

  <div class="browse__search">
    <div class="browse__searchBarDiv">
      <input class="browse__searchBar" placeholder="Search" type="text">
    </div>
    <button class="browse__sortButton">Sort by</button>
  </div>
  <div class="browse__content">
    <div class="browse__leftContent">
      <div class="browse__filter">
        <div class="browse__filterHeader">
          <h3>Duration</h3>
          <i class="fa fa-arrow-up"></i>
        </div>
        <hr>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
      </div>
      <div class="browse__filter">
        <div class="browse__filterHeader">
          <h3>Rating</h3>
          <i class="fa fa-arrow-up"></i>
        </div>
        <hr>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
        <div class="browse__filterContent">
          <input type="checkbox" name="20 hours" id="20hours">
          <label for="20hours">Above 20 Hours</label>
        </div>
      </div>
    </div>
    <div class="browse__rightContent">
      <div class="browse__courseContent">
        <div class="browse__leftCourseContent">
          <h1 class="browse__courseTitle">
            Complete Angular Bootcamp
          </h1>
          <h3 class="browse__courseAuthor">
            by Bharat Varshan S M
          </h3>
          <div class="browse__courseInfo">

            <p class="browse__courseDuration courseInfo">3h 19m <i class="fa fa-clock-o"></i> </p>
            <p class="browse__courseLevel courseInfo">Intermediate <i class="fa fa-bar-chart-o"></i></p>
            <p class="browse__courseRating courseInfo">4.5 <i class="fa fa-star"></i></p>

          </div>
        </div>
        <div class="browse__rightCourseContent">
          <h3>₹ 2399</h3>
          <button class="browse__courseEnrollButton">Enroll Now</button>
        </div>

      </div>

      <div class="browse__courseContent">
        <div class="browse__leftCourseContent">
          <h1 class="browse__courseTitle">
            Complete Angular Bootcamp
          </h1>
          <h3 class="browse__courseAuthor">
            by Bharat Varshan S M
          </h3>
          <div class="browse__courseInfo">
            <p class="browse__courseSeller courseInfo">Bestseller </p>

            <p class="browse__courseDuration courseInfo">3h 19m <i class="fa fa-clock-o"></i> </p>
            <p class="browse__courseLevel courseInfo">Intermediate <i class="fa fa-bar-chart-o"></i></p>
            <p class="browse__courseRating courseInfo">4.5 <i class="fa fa-star"></i></p>

          </div>
        </div>
        <div class="browse__rightCourseContent">
          <h3>₹ 2399</h3>
          <button class="browse__courseEnrollButton">Enroll Now</button>
        </div>

      </div>
    </div>
  </div>

</div>
