<div class="login">
  <div class="login__content">
    <h1>Login</h1>
    <form>
      <div class="inputGroup">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter your email">
      </div>
      <div class="inputGroup">
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter your password">
      </div>
      <input class="custom__button" type="button" value="Log in">
    </form>

    <a href="/users/forgot-password">
      <p class="forgot_p">Forgot Password?</p>
    </a>

    <a href="/users/register"><button class="login__registerButton">Create an account</button></a>
  </div>
  <div class="login__right">
    <h1>Welcome Back</h1>
  </div>
</div>
