<app-navbar></app-navbar>

<div class="dashboard">
  <h1>Overall stats</h1>

  <div class="dashboard__categories">
    <div class="dashboard__category">
      <div class="dashboard__categoryLeft">
        <p class="dashboard__categoryPath">STUDENTS</p>
        <p>No of Users</p>

        <h3 class="dashboard__categoryTitle">
          {{users.length}}
        </h3>
        <!-- <a class="dashboard__categoryLink" href="category Detail">Take a look
          </a> -->
      </div>

      <div class="dashboard__categoryRight">
        <p><i class="fa fa-graduation-cap fa-2x"></i></p>

      </div>

    </div>
    <div class="dashboard__category">
      <div class="dashboard__categoryLeft">
        <p class="dashboard__categoryPath">INSTRUCTORS</p>
        <p>No of Instructors</p>

        <h3 class="dashboard__categoryTitle">
          {{instructorsCount}}
        </h3>
        <!-- <a class="dashboard__categoryLink" href="category Detail">Take a look
            </a> -->
      </div>

      <div class="dashboard__categoryRight">
        <p><i class="fa fa-user fa-2x"></i></p>

      </div>

    </div>
    <div class="dashboard__category">
      <div class="dashboard__categoryLeft">
        <p class="dashboard__categoryPath">COURSES</p>
        <p>No of Courses</p>

        <h3 class="dashboard__categoryTitle">
          {{courses.length}}
        </h3>
        <!-- <a class="dashboard__categoryLink" href="category Detail">Take a look
            </a> -->
      </div>

      <div class="dashboard__categoryRight">
        <p><i class="fa fa-book fa-2x"></i></p>

      </div>

    </div>

  </div>
  <h1>Detailed stats</h1>

  <div class="dashboard__datas">
    <div class="dashboard__dataTitles">
      <button class="dashboard__dataTitle"
        [ngStyle]="{'background-color': activeElement == 'User' ? 'orange' : 'inherit'}" #user
        (click)="toggleElement(user.innerHTML)">User</button>
      <button class="dashboard__dataTitle" #course
        [ngStyle]="{'background-color': activeElement == 'Course' ? 'orange' : 'inherit'}"
        (click)="toggleElement(course.innerHTML)">Courses</button>
    </div>
    <div class="dashboard__userData" *ngIf="activeElement == 'User'">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>

            <th>Make Admin</th>
            <th>Delete User</th>

          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>

            <td>{{user.role}}</td>
            <!-- <td *ngIf="user.courses == ''">No Courses Enrolled</td> -->


            <!-- <td><button class=" editButton">Edit</button></td> -->
            <td><button *ngIf="user.role == 'student'" (click)="makeAdmin(user._id)" class=" editAdminButton">Make
                Admin</button>
              <button *ngIf="user.role == 'admin'" (click)="makeStudent(user._id)" class=" editStudentButton">Make
                Student</button>

            </td>

            <td><button (click)="removeUser(user._id)" class="deleteButton">Delete</button></td>

          </tr>

        </tbody>
      </table>
    </div>

    <!-- <div class="dashboard__userData" *ngIf="activeElement == 'courses'"> -->
    <div class="dashboard__userData" *ngIf="activeElement == 'Course'">
      <a href="/admin/add-course"><button class="dashboard__addCourseButton">Add New Course <i class="fa fa-plus"></i>
        </button></a>


      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Course Instructor</th>
            <th>Course Duration</th>
            <th>Level</th>
            <th>Category</th>
            <th>Edit Course</th>

            <th>Delete Course</th>

          </tr>
        </thead>
        <tbody *ngFor="let course of courses">
          <tr>
            <td>{{course._id}}</td>
            <td>{{course.courseName}}</td>
            <td>{{course.instructorName}}</td>

            <td>{{course.courseDuration}}</td>
            <td>{{course.level}}</td>

            <td>{{course.category}}</td>

            <!-- <td *ngIf="user.courses == ''">No Courses Enrolled</td>

            <td *ngIf="user.courses != ''">{{user.courses}}</td> -->
            <td><a [routerLink]="['/admin/edit-course', course._id ]"><button
                  class=" editCourseButton">Edit</button></a></td>
            <td><button (click)="removeCourse(course._id)" class="deleteButton">Delete</button></td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
