<div class="login">
  <div class="login__content">
    <h1>Reset Your Password</h1>
    <!-- <p>A 4 digit one time password has been sent to your mobile number 970*****02.</p> -->
    <p>Verify your details</p>
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)" ngNativeValidate>
      <div class="inputGroup">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required placeholder="Enter your email">
      </div>
      <div class="inputGroup">
        <label for="phone">Mobile</label>
        <input type="phone" id="phone" name="phone" minlength="10" maxlength="10" required
          placeholder="Enter phone number to send OTP" ngModel #phone="ngModel"><button
          (click)="triggerOTP(phone.value)">Send
          OTP</button>
      </div>
      <div class="inputGroup">
        <label for="otp">OTP</label>
        <input type="number" id="otp" name="otp" minlength="4" maxlength="4" required
          placeholder="Enter your OTP recieved">
      </div>
      <div class="inputGroup">
        <label for="password">Enter New Password</label>
        <input [disabled]="!verified" type="password" id="password" name="password" required=""
          placeholder="Enter your password">
      </div>
      <input class=" custom__button" type="submit" value="Log in">
    </form>



    <a href="/users/login"><button class="login__registerButton">Remember your password now!</button></a>
  </div>
  <div class="login__right">
    <img class="login__image" src="assets/reset-password.jpg" alt="reset-img">
  </div>
</div>
