h1,h2,h3,h4,h5,h6,p ,label,input{
    color: white;
    font-family: Poppins;

}

.register{
background-color: black;    
height: fit-content;
    display: flex;
    font-family: Poppins;

}

.register__content{

    width: 40%;
    background-color:#0D0F13;
    text-align: center;
    padding-top:  20vh;

}

.register__content > form{
    margin: 10% 20%;
}

.inputGroup{
    display: flex;
    flex-direction: column;
}

.inputGroup > label{
    float: left;
    text-align: start;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.inputGroup > input{
    border: 1px solid white;
    background-color: inherit;
    padding: 10px 10px 10px 14px;
    font-size: 16px;
}

.inputGroup > p{
  text-align: start;
  color: red;
  margin-top: 4px;
}

.custom__button{
  background-color: #0078b8;
  border: 1px #0078b8 solid;
  color: white;
  border-radius: 2px;
  padding: 10px 16px;
  margin: 20px auto;
  font-size: 16px;
  width: 100%;
}   

.custom__button:hover {
    background-color: #006093;
}

a{
    text-decoration: none;
}

.forgot_p{
    color: #0078b8;
    font-size: 16px;
}

.register__loginButton{
    background-color: #747474;
  border: 1px #747474 solid;
  color: white;
  border-radius: 2px;
  padding: 10px 16px;
margin: 8px 20%;
  font-size: 16px;
  width: 60% ;
}

.register__right{
  text-align: center;
  // display: flex;
  // justify-content: center;
  padding: 12%;
      // padding-top: 20%
  }
  
  .register__image{
      height: 500px;
      border-radius: 10px;
  }




.switchGroup{
    display: flex;
    margin: 20px 0;
    height: 20px;
    justify-content: space-between;
}

.switchGroup > h3{
    margin: 0 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



@media  screen and (max-width: 768px ) {
 
  .register{
 
    height: fit-content;
        display: flex;
    
    }

    .register__content > form{
      margin: 10% ;
  }

  .register__content{

    width: 100% !important;
    background-color:#0D0F13;
    text-align: center;
    padding-top:  18vh;

}
.register__right{
 display: none;
}

  .register__image{
    visibility: hidden;
    display: none;
  }
}