<div class="register">
  <div class="register__content">
    <h1>Register</h1>
    <form>
      <div class="inputGroup">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter your name">
      </div>
      <div class="inputGroup">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter your email">
      </div>
      <div class="inputGroup">
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter your password">
      </div>
      <input class="custom__button" type="button" value="Log in">
    </form>

    <a href="/users/forgot-password">
      <p class="forgot_p">Forgot Password?</p>
    </a>
    <a href="/users/login">
      <button class="register__loginButton">Already registered? Sign in now</button>

    </a>
  </div>
  <div class="register__right">
    <!-- <h1>Welcome Back</h1> -->
  </div>
</div>
