<div class="register">
  <div class="register__content">
    <h1>Register</h1>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" ngNativeValidate>
      <div class="inputGroup">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" minlength="3" required
          [(ngModel)]="model.name">
      </div>
      <div class="inputGroup">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" [(ngModel)]="model.email"
          pattern="[^@]+@[^@]+" required>
      </div>
      <div class="inputGroup">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="model.password"
          placeholder="Enter your password" minlength="3" required>
      </div>
      <!-- <div class="inputGroup ">
        <div class="switchGroup">
          <h3>Register as Instructor</h3>

          <label class="switch">
            <input type="checkbox" (change)="checkCheckBoxvalue($event)" name="role" [(ngModel)]="model.role"
              (click)="logValue(model.role)">
            <span class="slider round"></span>
          </label>
        </div>

      </div> -->

      <input class="custom__button" type="submit" value="Register">
    </form>

    <a href="/users/forgot-password">
      <p class="forgot_p">Forgot Password?</p>
    </a>
    <a href="/users/login">
      <button class="register__loginButton">Already registered? Sign in now</button>

    </a>
  </div>
  <div class="register__right">
    <img class="register__image" src="assets/signup.jpg" alt="login-img">
  </div>
</div>
