<div class="register">
  <div class="register__content">
    <h1>Register</h1>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" ngNativeValidate>
      <div class="inputGroup">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" minlength="3" required ngModel
          #namei="ngModel">
        <p *ngIf="namei.dirty && namei.invalid" id="error" class="efname">Name should be of minimum 3 Letters</p>

      </div>

      <div class="inputGroup">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" ngModel #emaili="ngModel"
          pattern="[^@]+@[^@]+" required>
        <p *ngIf="emaili.dirty && emaili.invalid" id="error" class="efname">Invalid Email Format</p>

      </div>
      <!-- <div class="inputGroup">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" placeholder="Enter your 10 digit Mobile Number" ngModel
          [(ngModel)]="model.phone" #phonei="ngModel" minlength="10" maxlength="10" required>
        <p *ngIf="phonei.dirty && phonei.invalid" id="error" class="efname">Invalid Mobile Number</p>

      </div> -->
      <div class="inputGroup">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel #passwordi="ngModel"
          placeholder="Enter your password" minlength="6" required>
        <p *ngIf="passwordi.dirty && passwordi.invalid" id="error" class="efname">Password should be minimum length of 6
        </p>

      </div>
      <!-- <div class="inputGroup ">
        <div class="switchGroup">
          <h3>Register as Instructor</h3>

          <label class="switch">
            <input type="checkbox" (change)="checkCheckBoxvalue($event)" name="role" [(ngModel)]="model.role"
              (click)="logValue(model.role)">
            <span class="slider round"></span>
          </label>
        </div>

      </div> -->

      <input class="custom__button" type="submit" value="Register">
    </form>

    <a href="/users/forgot-password">
      <p class="forgot_p">Forgot Password?</p>
    </a>
    <a href="/users/login">
      <button class="register__loginButton">Already registered? Sign in now</button>

    </a>
  </div>
  <div class="register__right">
    <img class="register__image" src="assets/signup.jpg" alt="login-img">
  </div>
</div>
