<div class="home">
  <app-navbar></app-navbar>
  <div class="home__body">
    <div class="home__left">
      <h1>Learn Without Limits
      </h1>
      <p>Skills for your present (and your future). Get started with <strong><em>Pro Academy</em></strong> .</p>

      <a href="/courses/browse"><button class="home__registerButton">Explore Now! <i
            class="fa fa-arrow-right"></i></button></a>

    </div>
    <div class="home__right">
      <img src="assets/home.png" alt="">
    </div>
  </div>
</div>
